{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block top-section %}
<section class="page-top-section set-bg" data-setbg="/media/theme/img/header-bg/2.jpg">
    <div class="container">
        <h2>{% trans "Set Password" %}</h2>
    </div>
</section>
{% endblock top-section %}

{% block content %}
<div class="row">
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set mx-auto">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
{% endblock %}
