{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block top-section %}
<section class="page-top-section set-bg" data-setbg="/media/theme/img/header-bg/2.jpg">
    <div class="container">
        <h2>{% trans "Change Password" %}</h2>
    </div>
</section>
{% endblock top-section %}

{% block content %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
